# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# Local dataset
rois_aal/
Phenotypic_V1_0b_preprocessed1.csv